body {
    color: lightslategray;
    background: blue;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(213, 213, 214);
    padding: 20px;
    font-size: 32px;
    color: rgb(169, 144, 144);
}