body {
    color: beige;
    background: lightblue;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(212, 171, 113);
    padding: 20px;
    font-size: 32px;
    color: rgb(189, 181, 140);
}